version: '3.8'
services:
  app:
    build: .
    ports:
      - '3000:3000'
    volumes:
      - ./:/usr/src/app
      - ./dev.db:/usr/src/app/dev.db
    environment:
      - DATABASE_URL=file:./dev.db
      - JWT_SECRET=change_this
